{
  "presets": [
    "env"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": ["**/*.test.js"]
        }]
      ]
    }
  },
  "plugins": [
    "transform-runtime"
  ]
}
