{
  "presets": [
    "env",
    "stage-2",
    "flow"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": ["**/*.test.js"]
        }]
      ]
    }
  },
  "plugins": [
    "transform-runtime"
  ]
}
